html,
body {
  margin: 0;
  padding: 0;
}

#cover {
  background: url("http://wallpapercave.com/wp/qaZcFEq.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 640px;
  color: white;
    text-align: center;
  display: flex;
  align-item: center;
}

#blackout {
    background: rgba(0, 0, 0, .7);
  height: 150%;
  width: 100%;
  height: 100%;
}

#cover-caption {
  padding-top: 50px;
   width: 100%;
  height: 100%;
}



.navbar-right {
  margin-right: 10px;
}

h1 {
   font-size: 3vw;
}

.name {
  color: white;
  font-family: times;
  font-weight: 300%;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-danger.outline {
  color: #d9534f;
}

.btn-info.outline {
  color: #5bc0de;
}

.btn-primary.outline {
  color: #0099cc;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active {
  color: #33a6cc;
  border: solid 3px #0099cc;
}

.btn-info.outline:hover,
.btn-info.outline:focus,
.btn-info.outline:active,
.btn-info.outline.active {
  color: #5bc0de;
  border: solid 3px #5bc0de;
}

.btn-danger.outline:hover,
.btn-danger.outline:focus,
.btn-danger.outline:active,
.btn-danger.outline.active {
  color: #d9534f;
  border: solid 3px #d9534f;
  
}

a > p {
  font-size: 40px;
  color: #D3D3D3;
}

a>p:hover,
a>p:focus,
a>p:active,
a>p.active {
  color: #33a6cc;
  
  font-size: 50px;
}

a.btn-btn-secondary-outline:hover,
a.btn-btn-secondary-outline:focus,
a:active,
a.btn-btn-secondary-outline.active {
  text-decoration: none;
}

#nav-main {
  margin-bottom: 0px;
  padding: 0px;
  border: solid 1px;
  
  border-color: black;
}

#nav-form {
  margin-top: 10px;
}

#experience {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 50px;
}

.panel-body {
  margin-left: 20px;
}

li > h2 {
font-size: 2vw; 

}

li > h3 {
  font-size: 1vw;
}
#projects {
  background-color: #181816;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 50px;
  color: white;
  font-size: 2vw;
}

#project-writing {
  padding-top: 50px;
  display: none;
}
#project-programming {
  padding-top: 50px;
}

.caption {
color: white;
  margin-top: 50px;
  text-decoration: none
}
.caption>em>a {
color: white;
  margin-top: 50px;
  text-decoration: none
}

.smaller-writing>em>a {
color: white;
    text-decoration: none
}


.smaller {
  font-size: 2.5vw;
   text-decoration: none
}

.smaller-writing {
  font-size: 2vw;
  margin-bottom: 0px;
 
}

iframe {
  display: block;
  height: 400px;
  width: 600px;
}
.img-up {
   height: 400px;
  width: 600px;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

}







.padding-0 {
  padding: 0;
}



.toggle {
  margin-top: 10px;
  padding-top: 10px;
}
#skills {
  background-color: white;
  margin-top: 50px;
  padding-bottom: 100px;
}
.skills-section text-center {
  font-size: 2vw;
  color: black;
  padding-top: 50px;
}
.img-circle {
  max-width: 100%;
  padding: 0px;
}
.progress {
  background: rgba(220, 220, 220, 1);
  border: 0px solid rgba(4, 0, 0, 1);
  border-radius: 4px;
  height: 40px;
  box-shadow: 10px 10px 3px #888888;
}
.progress-bar-custom {
  background: rgba(66, 139, 202, 1);
  background: -webkit-linear-gradient(top, rgba(79, 90, 99, 1) 0%, rgba(66, 139, 202, 1) 100%);
  background: linear-gradient(to bottom, rgba(79, 90, 99, 1) 0%, rgba(6, 139, 202, 1) 100%);
}


#contact2 {
 background-color: #181816;
    padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

  .glyphicon-phone-alt {
    font-size: 30px;
    color: white;
}

.glyphicon-envelope {
  font-size: 30px;
    color: white;
}



@media only screen and (max-width: 800px) {
  body {
    margin: 0 auto;
    width: 100%;
    height: 105%;
  }
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 1.5vw;
  }
  
  h4 {
    font-size: 20px;
  }
  li {
    font-size: 16px;
    width: 100%;
  }
  .panel {
    width: 110%;
  }
  .btn-primary.outline:hover,
  .btn-primary.outline:focus,
  .btn-primary.outline:active,
  .btn-primary.outline.active {
    color: #33a6cc;
    border: solid 0px #0099cc;
  }
  
  .btn-info.outline:hover,
  .btn-info.outline:focus,
  .btn-info.outline:active,
  .btn-info.outline.active {
    color: #5bc0de;
    border: solid 0px #5bc0de;
  }
  
  .btn-danger.outline:hover,
  .btn-danger.outline:focus,
  .btn-danger.outline:active,
  .btn-danger.outline.active {
    color: #d9534f;
    border: solid 0px #d9534f;
    ;
  }
  
  .btn-danger.outline {
    padding: 10px;
    color: #d9534f;
  }
  
  .btn-info.outline {
    padding: 10px;
    color: #5bc0de;
  }
  
  .btn-primary.outline {
    padding: 10px;
    color: #0099cc;
  }
  
  #contact1 {
   font-size:7.5px;
  margin-top:100px;
    height: 100%;
  }
  
  #contact2 {
   positiion: relative;
   top: 150px;
  }
  
   .col-md-4>span {
   font-size: 15px;
  }
  
  .caption {
    font-size: 30px;
  }
  
}